site_name: Document AI
site_description: Document AI - Intelligent document processing and extraction
site_url: https://zeel-04.github.io/doc-intelligence/
docs_dir: docs

# Repository information
repo_name: doc-intelligence
repo_url: https://github.com/zeel-04/doc-intelligence
edit_uri: edit/main/docs/

# Navigation
nav:
  - Home: index.md
  - Quick Start: quickstart.md

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
